<html>
<head>
    <meta charset="utf-8">
    <title>Student Details</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
            crossorigin="anonymous"></script>
</head>
<style>
            .header {
            }
            h1{
            margin: 0 auto;
            width:50%;
            text-align: center;
            }
            form {
            margin: 0 30% 0 30%;
            }
            .bg-img {
            background-image: url("/static/bi1.jpg");
            min-height: 380px;
              background-position: center;
              background-repeat: no-repeat;
              background-size: 100%;
              position: relative;
              margin: 0 10% 0 10%;
}


</style>
</style>
<body>
<div class="header">
    <h1>Student Details Form</h1>
</div>
<!--<img src="/static/bi1.jpg" class="bg-mg" alt="...">-->

<!--<div class="bg-img">-->
<form class="needs-validation" novalidate action="" method="post">
    {% csrf_token %}
    <div class="col-md-12 mb-3">
        <label for="firstname">First name</label>
        <input type="text" class="form-control" id="firstname" name="firstname" placeholder="First name" required>
        <div class="valid-feedback">
            Looks good!
        </div>
        <div class="invalid-feedback">
            Please enter valid first name.
        </div>
    </div>
    <div class="col-md-12 mb-3">
        <label for="lastname">Last name</label>
        <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Last name" required>
        <div class="valid-feedback">
            Looks good!
        </div>
        <div class="invalid-feedback">
            Please enter valid last name.
        </div>
    </div>
    <div class="col-md-12 mb-3">
        <label for="useremail">Last name</label>
        <input type="email" class="form-control" id="useremail" name="useremail" placeholder="Email" required>
        <div class="valid-feedback">
            Looks good!
        </div>
        <div class="invalid-feedback">
            Please enter valid email.
        </div>
    </div>
    <div class="col-md-12 mb-3">
        <label for="graduation">Graduation degree </label>
        <input type="text" class="form-control" id="graduation" name="graduation" placeholder="Graduation" required>
        <div class="valid-feedback">
            Looks good!
        </div>
        <div class="invalid-feedback">
            Please enter valid graduation degree.
        </div>
    </div>
    <div class="col-md-12 mb-3">
        <label for="phone">Mobile no </label>
        <input type="text" class="form-control" id="phone" name="phone" placeholder="Mobile no" required>
        <div class="valid-feedback">
            Looks good!
        </div>
        <div class="invalid-feedback">
            Please enter valid mobile number.
        </div>
    </div>
    <div class="col-md-12 mb-3">
        <label for="activityname">Activity name</label>
        <input type="text" class="form-control" id="activityname" name="activityname" placeholder="Activity name"
               required>
        <div class="valid-feedback">
            Looks good!
        </div>
        <div class="invalid-feedback">
            Please enter valid activity name.
        </div>
    </div>
    <div class="col-md-12 mb-3">
        <label for="activityassigned">Activity assigned</label>
        <input type="text" class="form-control" id="activityassigned" name="activityassigned"
               placeholder="Activity assigned" required>
        <div class="valid-feedback">
            Looks good!
        </div>
        <div class="invalid-feedback">
            Please enter valid activity assignee name.
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Submit form</button>
</form>
<!--</div>-->
<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();





</script>
</body>
</html>
